<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Jika aplikasi ada di subfolder (misal: domain.com/arsip), 
  # ubah baris di bawah menjadi: RewriteBase /arsip/
  RewriteBase /

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . index.html [L]
</IfModule>
