<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # KARENA DIUPLOAD KE FOLDER /arsip, RewriteBase HARUS /arsip/
  RewriteBase /arsip/

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . index.html [L]
</IfModule>
